:root {
  --primary: #db0163;
  --background: #d2d2d2;
  --white: #f5f5f5;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  background-color: var(--background) !important;
  height: 100vh;
  width: 100vw;
  font-family: "Montserrat" !important;
}

a {
  text-decoration: none !important;
}

.centered {
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}

.centered-box {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 1em;
}

.main {
  height: 100%;
}

.testAnim {
  /* position: relative; */
  height: 60px;
  width: 60px;
  background-color: #f3bc42;
  /* animation: moveit 3s linear infinite 0s; */
}

.testAnim2 {
  position: relative;
  height: 60px;
  width: 60px;
  top: 10px;
  left: 10px;
  background-color: #db0163;
  /* animation: moveit .5s linear 1 0s; */
}

.testAnim2:hover {
  animation: moveit .5s normal 1 0s;
}

@keyframes moveit {
  /* from {
    transform: rotate(0deg) translate(1px 1px);
  } */

  /* 100% {
    transform: rotate(360deg) translateX(50px);
  } */

  0% {
    top: 0px;
    left: 0px;
    transform: rotate(90deg);
  }

  100% {
    top: 10px;
    left: 10px;
  }
}